@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import "tailwindcss";


@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

@theme {
  --font-burtons: burtons, "sans-serif";
  --font-Markazi-Text: Markazi-Text, "sans-serif"
}